.error {
  color: red;
}

.success {
  color: green;
}

.testClass {
  font-weight: bold;
  color: green;
}

.bg {
  background-image: url("http://mdbootstrap.com/img/Photos/Others/images/23.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ReactTable * {
  box-sizing: border-box;
}
